/* * * * CLASSES * * * */
.new-tweet {
  align-items: center;
  margin-right: 1.5em;
  margin-top: 3em;
  margin-bottom: 5px;
}

.nav-right {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas {
  display: inline;
  color: red;
}


/* * * * ELEMENTS * * * */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 148px;
  background-color: #4056a1;
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
}

span {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  font-family: 'Bungee', cursive, sans-serif;
  margin: 2.5em 0em 0em 1.5em;
  font-size: 1.5em;
}